# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pydevproject
*.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments_1
*.gen
.metadata/.mylyn/.tasks.xml.zip
*.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
*.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
*.prefs
.metadata/.mylyn/tasks.xml.zip
*.zip
*.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
*.fdt
*.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
*.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
*.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_3
*.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
*.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_2.fnm
*.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/server-config.json
*.xml
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
*.log
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
*.ini
*.pyc
make_rplotscript.pyc
*.pyc
make_rplotscript.pyc
